:root {
    font-family: Arial, sans-serif;
    color: #f7f6f6;
    --page-background-start: #010721;
    --page-background-end: #5D0E41;
    background: linear-gradient(to bottom, var(--page-background-start), var(--page-background-end));
    background-attachment: fixed;
}

#search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    margin-top: 0;
    box-sizing: border-box;
}

#search-form {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    gap: 1rem;
    padding: 1rem;
}

#search-form input,
#search-form select,
#search-form button {
    width: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0.4rem;
    gap: 0;
    box-sizing: border-box;
    border: 1px solid #5d0e41;
    border-radius: 0.4rem;
    background: #080d1f;
    color: #f7f6f6;
    font: inherit;
}

#search-form button:hover {
    background: #7a1455;
}

#search-form button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#genre-select:hover,
#genre-select:focus,
#type-select:hover,
#type-select:focus {
    background-color: #7a1455;
    color: white;
}

#genre-select option,
#type-select option {
    background-color: #080d1f;
    color: white;
}

#year-input {
    max-width: 75px;
}

.search-info {
    text-align: center;
    font-style: italic;
    margin: 20px 0;
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 2rem;
}

#pagination button {
    margin-left: 0;
}

#pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@media (max-width: 800px) {
    .poster-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    #search-form {
        flex-direction: column;
    }
    #year-input {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .poster-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .poster-grid {
        grid-template-columns: 1fr;
    }
}