header {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-right {
    gap: 1rem;
}