.profile-form {
    width: calc(100% - 2rem);
    max-width: 400px;
    box-sizing: border-box;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: #010721;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.profile-form label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 550;
}

.profile-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem;
    border: 1px solid #5d0e41;
    border-radius: 0.4rem;
    background-color: #080d1f;
    color: #f7f6f6;
    font: inherit;
}

.profile-form input:focus {
    outline: 2px solid #8b5cf6;
    outline-offset: 2px;
}

.profile-actions {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.profile-actions button {
    width: 50%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 1.2rem;
    background: #c5007d;
    color: white;
    font: inherit;
    cursor: pointer;
}

.profile-actions button:hover {
    background: #9e0064;
}

.profile-actions button:focus-visible {
    outline: 2px solid #e5ddff;
    outline-offset: 2px;
}

.profile-actions button:last-child {
    background: #b70000;
}

.profile-actions button:last-child:hover {
    background: #930000;
}