.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.not-found-page button {
    padding: 0.5rem 1rem;
    border-width: 0;
    border-radius: 1.2rem;
    color: white;
    font: inherit;
    cursor: pointer;
    background: #c5007d;
}

.not-found-page button:hover {
    background: #9e0064;
}

