.login-container {
  width: calc(100% - 2rem);
  max-width: 400px;
  box-sizing: border-box;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #010721;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.login-container h3 {
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-container input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem;
  border: 1px solid #5d0e41;
  border-radius: 1.5rem;
  background: #ffffff;
  color: #4b4646;
  font: inherit;
}

.login-container button {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #8b5cf6;
  border-radius: 1.5rem;
  background: #3f0a2c;
  color: #f7f6f6;
  font: inherit;
  cursor: pointer;
}

.login-container button:hover {
  background: #7a1455;
}

.login-container a {
  color: #7d65ce;
  text-align: center;
  text-decoration: none;
}
