:root {
  font-family: Arial, sans-serif;
  color: #f7f6f6;
  --page-background-start: #010721;
  --page-background-end: #5d0e41;
  background: linear-gradient(
    to bottom,
    var(--page-background-start),
    var(--page-background-end)
  );
  background-attachment: fixed;
}

body {
  margin: 0;
  min-width: 320px;
}

